html
{
    height:100%
}

body {    
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    background: linear-gradient(-45deg, #ee7752, #be1717, #23cfd5, #23d5ab);
    background-size: 500% 500%;
    animation: gradient 15s ease infinite;    
}

h1{
    padding: 0px;
    text-align: center;
}

.contact-info{
    text-align: center;
}

.main-content {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.9); /* Slightly transparent background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.container {
    flex: 3;
    padding: 40px;    
    padding-top: 0px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: wavy underline;;
}

.section {
    text-align: left;
}

.section h2 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.sidebar {
    flex: 1;
    padding: 40px;
    padding-top: 0px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.9); /* Slightly transparent background */
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    border-left: 1px solid #ddd;
}

.sidebar h2 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

@media (max-width: 1200px) {
    .main-content {
        flex-direction: column;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
