html {
    background-color: #424242;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    margin: 0;
}

h1 {
    margin: 0;
    text-align: center;
}

p{
    margin: auto;
    margin-bottom: 10px;
}

.contact-info {
    text-align: center;
    margin-top: 10px;
}

.main-content {
    display: flex;
    flex-direction: row;
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.container {
    flex: 3;
    padding: 40px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: wavy underline;
    color: #002f61;
}

.section {
    text-align: left;
    margin-bottom: 10px;
}

.section h2 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.section ul{
    margin-bottom: 40px;
}

.section li{
    margin-bottom: 10px;
}

.company-name {
    font-weight: bold;
}

.sidebar {
    flex: 1;
    padding: 40px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    border-left: 1px solid #ddd;
}

.sidebar h2 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.company-name {
    font-weight: bold;
    font-size: 1.1em;
    color: #333;
}

@media (max-width: 1200px) {
    .main-content {
        flex-direction: column;
    }

    .container{
        padding-bottom: 0px;
    }

    .sidebar {
        box-shadow: none;
    }
}
