html {
    background-color: #424242;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    margin: 0;
}

h1 {
    margin: 0;
    text-align: center;
}

p {
    margin: auto;
    margin-bottom: 0.625rem;
}

.contact-info {
    text-align: center;
    margin-top: 0.625rem;
}

.main-content {
    max-width: 80rem;
    display: flex;
    flex-direction: row;
    margin: 3rem; 
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.container {
    flex: 3;
    padding: 4rem;
}

a {
    color: #000000;
    text-decoration: underline;
}

a:hover {
    text-decoration: wavy underline;
    color: #002f61;
}

.section {
    text-align: left;
    margin-bottom: 0.625rem;
}

.section h2 {
    border-bottom: 0.1875rem solid #424242; 
    padding-bottom: 0.3125rem; 
    margin-bottom: 0.625rem; 
}

.section ul {
    margin-bottom: 2.5rem;
}

.section li {
    margin-bottom: 0.625rem; 
}

.company-name {
    font-weight: bold;
}

.sidebar {
    flex: 1;
    padding: 2.5rem;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: -0.125rem 0 0.3125rem rgba(0, 0, 0, 0.1);
    border-left: 1px solid #ddd;
}

.sidebar h2 {
    border-bottom: 0.1875rem solid #424242;
    padding-bottom: 0.3125rem;
    margin-bottom: 0.625rem;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 0.625rem;
}

.company-name {
    font-weight: bold;
    font-size: 1.1em;
    color: #333;
}

@media (max-width: 1200px) {
    .main-content {
        flex-direction: column;
        margin: 0.625rem;
        background-color: white;
    }

    .container {
        padding: 1.875rem;
        padding-bottom: 0;        
    }

    .section {
        text-align: left;
        margin-bottom: 0.625rem;
    }

    .sidebar {
        box-shadow: none;
        padding: 1.875rem;
        padding-top: 0;
    }
}
